.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-dark-color);
    height: 60vh;
    width: 40vw;
    color: var(--text-color);
    margin-bottom: 10%;
}