.box {
    /*border: 1px solid var(--border-dark-color);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-dark-color);
    height: 60vh;
    width: 50vw;
    color: var(--text-color);
}