.tabContainer {
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}

.tabButton {
    padding: 0 12px 0 12px;
    max-height: 50%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease;
    border-bottom: 1px solid yellow;
}

.tabButton h1 {
    margin: 0;
}

.tabButton:hover {
    transition: 0.25s ease;
    color: #ffffff;
}
