.table {
    margin-left: 32px;
    font-size: 24px;
}

.pad {
    padding: 4px 20px 12px 0;
}

.tr {
    text-align: left;
}

.pad:nth-child(1) {
    width: 30%;
}

th.pad:not(:first-child) {
    transition: 0.50s ease;
}

th.pad:not(:first-child):hover {
    color: white;
    transform: scale(1.01);
    transition: 0.50s ease;
    cursor: pointer;
}