.statRow {
    background-color: red;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-size: 25px;
}

.statRow img {
    margin: 0 0 0 19px;
}

.statRow p {
    margin: 0 0 0 75px;
}