.statRow {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 16px 5px;
    font-size: 22px;
}

.statRow img {
    margin: 0 0 0 27px;
}

.statRow p {
    margin: 0 0 0 35px;
}

.statRow > span p {
    width: 200px;
}

.statRow > .p {
    width: 50px;
    margin: 0 0 0 15px;
}