.submit {
    background: #0084ff;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 20vw;
    transition: 0.25s ease;
    border-radius: 5px;
    height: 5vh;
    border-radius: 15px;
    margin-bottom: 15px;
}

.submit:hover {
    transform: scale(1.05);
    transition: 0.50s ease;
    background: #1e92ff
}

.textarea {
    width: 20vw;
    border-radius: 15px;
    line-height: 30px;
    margin-bottom: 15px;
}

.formRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    height: 26.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}