.cell {
    width: 5vh;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    transition: 0.5s ease;
    border: 1px solid var(--border-dark-color);
}

.cell:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    margin: 4px;
}