button {
  background: none;     
  border: none;         
  padding: 0;          
  margin: 0;    
  color: inherit;      
  font: inherit;        
  cursor: pointer;
}

button:focus {
  outline: none; 
}