:root {
  --primary-dark-color: rgb(30, 30, 30);
  --secondary-dark-color: rgb(27, 27, 27);
}

#header {
    background-color: var(--secondary-dark-color);

    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

hr {
    display: block;
    max-width: 50%;
    margin-bottom: 20px;
    height: 1px;
    border: 0;
    border-top: 1px solid #373c3e;
}