#header {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

hr {
    display: block;
    max-width: 55%;
    margin-bottom: 20px;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-dark-color);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu > button {
    padding-top: 6px;
    transition: 0.5s ease;
}

.menu > button:hover {
    transform: scale(1.2);
}

.headerImg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-90%);
    transition: 0.5s ease;
}

.headerImg:hover {
    opacity: 50%;
    transition: 0.5s ease;
}


