:root {
  --primary-dark-color: rgb(30, 30, 30);
  --secondary-dark-color: rgb(27, 27, 27);
}

#footer {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}