#footer {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}