html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* top right bottom left */

.mainInfo {
  width: 90%;
  height: 5%;
  margin: 16px 0 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainInfo p {
  font-size: 30px;
  margin: 0;
}

.pictureBox {
  width: 90%;
  height: 40%;
  margin: 16px 0 0 16px;
  border-radius: 12px;
  border: 1px solid #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsTitleDiv {
  width: 100%;
  height: 20%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.statsTitleDiv h1 {
  margin: 25px 0 0 35px;
  border-bottom: 1px solid var(--border-color);
}


.screen {
  display: flex;
  width: 85vw;
  height: 85vh;
  color: var(--text-color);
}

.profileDiv {
  margin: 60px 0 0 18px;
  width: 19%;
  height: 90%;
  background-color: var(--primary-dark-color);
  border-radius: 12px;
  border: 1px solid rgb(34, 34, 34);
}

.statsContainer {
  display: flex;
  flex-direction: column;
  width: 77.6%;
}

.bottomStatsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin: 0 0 18px 19px;
}

.topStatsDiv {
  background-color: var(--primary-dark-color);
  margin: 60px 0 0 18px;
  height: 47.6%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(34, 34, 34);
}

.bottomStatsLeftDiv,
.bottomStatsRightDiv {
  background-color: var(--primary-dark-color);
  margin-top: 18px;
  height: 90%;
  width: 50%;
  padding-bottom: 20px;
  border-radius: 12px;
  border: 1px solid rgb(34, 34, 34);
}

.bottomStatsLeftDiv {
  margin-right: 22px;
  width: 90%;
}

.tDiv h1 {
  margin: 0 0 10px 0;
}

.tDiv h2 {
  margin: 0 0 20px 0;
}

.container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

