#root {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-dark-color);
}

body {
  background-color: var(--secondary-dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}