#root {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-dark-color);
  gap: 176px;
}

body {
  background-color: var(--primary-dark-color);
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 98vh;
}