#root {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-dark-color);
  gap: 200px;
}



body {
  background-color: var(--primary-dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}




/* rotar infinitamente 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */