:root {
  --primary-dark-color: #1e1e1e;
  --secondary-dark-color: #1b1b1b;
  --text-color: rgb(212, 212, 212);
  --border-dark-color: #444444;
  --correct-color: #3fbf00;
  --contains-color: #ff9300;
  --miss-color: #323232ff;
}


