.top {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #d6d6d6;
}

.mid {
    position: fixed;
    left: 0;
    top: 15%;
    width: 100%;
    height: 85%;
}

.settings {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #d6d6d6;
}
